
<% @pdf_categories.each do |cat| %>
	
	<%= link_to show_pdf_category_path(cat) do %>
	<h4><%= cat.title %></h4>
	<% end %>

<% end %>

<% @pdfs.each do |pdf| %>
		<%= link_to pdf_path(pdf)  do %>
		<h2><%= pdf.title %></h2>
		<%= content_tag :p, "Udgivet: #{pdf.date.strftime("%Y")}" unless pdf.date.nil? %>
		<% end %>
<% end %>


<%= link_to "Upload pdfs!", upload_pdfs_via_s3_path %>
