<%= tinymce %>
<%= tinymce_assets %>

<div class="row">
	<div class="offset-lg-2 col-lg-8">
		<%= form_for @text, url: opdater_forside_tekst_path(@text.id) do |f| %>

		<div class="form-fields">
			<%= f.label "Tekst" %>
			<%= f.text_area :text, cols: 40, rows: 20, class: "tinymce" %>
		</div>

		<hr>

		<%= f.submit "Gem tekst", class: "btn btn-primary" %>
		<% end %>

	</div>
</div>