<div class="oversigt-wrapper">
  <% @categories.each do |cat| %>
    <div class="oversigt-img-wrapper text-center sortable-item">
      <%= link_to vaerker_path(cat.friendly_id) do %>
          <% if noload %><!-- Skal ikke vises, når værkerne er trykket frem -->
            <div class="center-block overview-img overview-img-show" style="background-image: url(<%= cat.image %>)">
            </div>
            <h2 id="<%= cat.id %>" class="<%= "active" if cat.friendly_id == params[:vaerker_cat] %>">
              <%= cat.name %>
            </h2>
          <% end %>
      <% end %><!-- link_to vaerker_pat -->
        <% if  user_signed_in? %>
          <%= link_to "Rediger kategori", edit_category_path(cat) %> / 
          <%= link_to "Slet kategori", category_path(cat), method: :delete,
            data: {confirm: "Er du sikker på at du vil slette kategorien?"} %> 
        <% end %>
    </div>
  <% end %><!-- each -->
</div>
