<% @categories.each do |cat| %>
  <div class="col-lg-4 text-center overview-img-wrapper">
    <%= link_to vaerker_path(cat.friendly_id) do %>
      <div class="overview-img" style="background-image: url(<%= cat.image %>)">
      </div>
      <h4 id="<%= cat.id %>" class="overview-header pt-2 text-uppercase text-center <%= "active" if cat.friendly_id == params[:vaerker_cat] %>">
        <%= cat.name %>
      </h4>
      <% if logged_in?(:site_admin) %>
        <%= link_to "Rediger kategori", edit_category_path(cat) %> / 
        <%= link_to "Slet kategori", category_path(cat), method: :delete, data: {confirm: "Er du sikker på at du vil slette kategorien?"} %> 
      <% end %>

    <% end %>
  </div>

<% end %>
