<div class="form-hided">
<div class="large-12 column background-color-light-blue img-cat-field">
	
	<div class="image-cat-name">
	<h3 class="text-center">Navn på billedekategorien</h3>
	<input type="text" name="work[image_categories_attributes][0][name]" id="work_image_categories_attributes_0_name">
	</div>

	

	<div class="large-12 column image-area">
		

		<div class="small-4 column image-box float-left">


			<label for="work_image_categories_attributes_0_images_attributes_0_image">Billede </label>
			<input type="file" name="work[image_categories_attributes][0][images_attributes][0][image]" id="work_image_categories_attributes_0_images_attributes_0_image">


			<label for="work_image_categories_attributes_0_images_attributes_0_image_description">Billedebeskrivelse</label>
			<textarea name="work[image_categories_attributes][0][images_attributes][0][image_description]" id="work_image_categories_attributes_0_images_attributes_0_image_description"></textarea>

			<label for="work_image_categories_attributes_0_images_attributes_0_photographer">Fotograf</label>
			<input type="text" name="work[image_categories_attributes][0][images_attributes][0][photographer]" id="work_image_categories_attributes_0_images_attributes_0_photographer">
			<div class="button delete-info-button small-12 columns" id="DeleteImage">
				Slet billede
			</div>
		</div>

		<div style="margin-bottom: 10px;" class="button add-new-image large-12" id="AddImage">Opret nyt billede</div> 
	</div><!-- large-12 img-cat-field column	-->

</div>

</div>



<div class="row">
<div class="large-10 large-offset-1 medium-10 medium-offset-1 columns">
<h2 class="text-center">Opret Værk</h2>

		<%# form_for(@work, :html => { :multipart => true }, url: works_path) do |f| %>
		<%= form_for(@work, :html => { :multipart => true }) do |f| %>

		<%= f.label "Navn:" %>
		<%= f.text_field :name %>

		<%= f.label "Sagsnr:" %>
		<%= f.number_field :sagsnr %>

		<%= f.label "Adresse:" %>
		<%= f.text_field :address %>
		
		<%= f.label :info, "Info" %>
		<small>De linjer, der står under adresse og sagsnr i info f.eks. konkurrence, samarbejde mm.</small>

		<div class="info-area">

		<% @work.info.each_with_index do |information, index| %>
	
			<div class="info-felt row collapse" id="InfoFelt">

				<% if index != 0 %>
				<div class="info-area-field small-9 columns">
				<%= f.text_field :info, multiple: true, value: i, id: "InfoArea" %>
				</div>
				
					<div class="button delete-info-button small-3 columns" id="DeleteInfo">
					Slet felt
					
				</div>
					
				<% else %>
				<div class="small-12 columns">
					<%= f.text_field :info, multiple: true, value: information, id: "InfoArea", class: "info-area-field small-12 columns" %>
				</div>
				<% end %>

			
			</div>

		<% end %>

		</div>

		<div class="button" id="AddInfo">Tilføj et info-felt mere</div>

		<%= f.label :description, "Beskrivelse" %>
		<%= f.text_area :description, height: 250 %>


		<%= f.fields_for :image_categories do |img_cat| %>
		<div class="large-12 column background-color-light-blue img-cat-field">
		<div class="image-cat-name">
			<h3 class="text-center">Navn på billedekategorien</h3>
				<%= img_cat.text_field :name %>
		</div>

		

		<div class="large-12 column image-area">
		<%= img_cat.fields_for :images do |img| %>

			<div class="small-4 column image-box float-left">

			<%= img.label :image, "Billede "%>
			<%= img.file_field :image %>

			<% if img.object.image? %>
				<%= image_tag img.object.image.thumb.url %>
			<% end %>

			<%= img.label :image_description, "Billedebeskrivelse" %>
			<%= img.text_area :image_description %>

			<%= img.label :photographer, "Fotograf" %>
			<%= img.text_field :photographer %>
			<div class="button delete-info-button small-12 columns" id="DeleteImage">
				Slet billede
			</div>
			</div>
		<% end %> <!-- img -->
		<div style="margin-bottom: 10px;" class="button add-new-image large-12" id="AddImage">Opret nyt billede</div> 

		<hr>
		</div>
		

		</div><!-- large-12 img-cat-field column -->	
		<% end %>

		<div style="margin-bottom: 100px;" class="button add-new-image-category large-3" id="CategoryAdd">Opret ny billedekategori</div> 

		<div class="large-12 column callout warning" id="max-categories" style="display: none;">Det maksimale antal billedekategorier er 5</div>

		<div class="actions small-12 columns">
			<%= f.submit "Gem værk", class: "button success" %>
		</div>
		<% end %> <!-- form -->
	</div>
</div>


<script type="text/javascript">
// Tilføj og fjern info
	$('#AddInfo').on('click', function(e) {
	e.preventDefault();
	// Fjern dataen i inputfeltet
	$(".info-area").append('<div class="info-felt row collapse" id="InfoFelt"><div class="small-9 columns"><input multiple="multiple" value="" id="InfoArea" class="info-area-field small-9 columns" type="text" name="work[info][]"></div><div class="button delete-info-button small-3 columns" id="DeleteInfo">Slet felt</div></div>');
	});

	$('body').on('click', '.delete-info-button', function(e) {
		e.preventDefault();
		$(this).closest("#InfoFelt").remove();
	});

// Udskifter data, når man trykker "nyt billede"
 	function change_input_data(div, number, after_this_div="", add_box_after=false, erase_val=true) {
// Tilføjer det add_image felt, som skal til. 
	  $(div).find('label').each(function() {
	  	$(this).val("");
	  	if (erase_val) {
	    oldLabel = $(this).attr('for');
		}
	    newLabel = oldLabel.replace(new RegExp(/_[0-9]+(?!.*[0-9])_/), "_" + number + "_");
	    $(this).attr('for', newLabel);

	  $(div).find('textarea, input').each(function() {
	  	if (erase_val) {
	  	$(this).val("");
	  	}
	    oldId = $(this).attr('id');
	    newId = oldId.replace(new RegExp(/_[0-9]+(?!.*[0-9])_/), "_" + number + "_");
	    $(this).attr('id', newId);
	    
	    oldName = $(this).attr('name');
	    newName = oldName.replace(new RegExp(/\[[0-9]+\](?!.*\[[0-9]\])/), "[" + number + "]");
	    // newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + number + "]");
	    // newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + number + "]");
	    $(this).attr('name', newName);

	    	
	  
	});

	});
	    if (add_box_after == true) {
	    	// Fjern src værdien fra img
	    	$(div).find('img').each(function() {
	    		$(this).hide();
	    	});
  			$( div ).insertAfter( after_this_div );
  		}
};

function change_img_cat_data(number, field, imagecatname) {
	// Ændrer imagecat navnets id- og name-værdi
	$(imagecatname).find("input").each(function() {
		oldId = $(this).attr("id");
		newId = oldId.replace(new RegExp(/_([0-9]+)_/), "_" + number + "_");
		$(this).attr('id', newId);
		oldName = $(this).attr('name');
		newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + number + "]");
		$(this).attr('name', newName);
	});
	$(field).find('label').each(function() {
		$(this).val("");
	  oldLabel = $(this).attr('for');
	  newLabel = oldLabel.replace(new RegExp(/_([0-9]+)_/), "_" + number + "_");	  
	  $(this).attr('for', newLabel);
	});
	  $(field).find('textarea, input').each(function() {
	  	$(this).val("");
	    oldId = $(this).attr('id');
	    newId = oldId.replace(new RegExp(/_([0-9]+)_/), "_" + number + "_");
	    $(this).attr('id', newId);
	    
	    oldName = $(this).attr('name');
	    newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + number + "]");
	    // newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + number + "]");
	    // newName = oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + number + "]");
	    $(this).attr('name', newName);

	    	
	  
	});

};

$("body").on("click", "#DeleteImage", function(e){
	e.preventDefault();
	$(this).parent().remove();
	$(".image-box").each(function(index) {
		  change_input_data(this, index, "", false, false);
	});
});

// Det er ikke muligt at trykke på nyt billede fordi at DOM-tree ikke kan se knappen, når siden loader. Derfor har jeg lavet event-delegation, som gør, at handler kigger efter om der er nogen #CategoryAdd under den, når man trykker. Men den reloader IKKE add-image?
$("#CategoryAdd").on("click", function(e) {
	e.preventDefault();
	newImageCatField = $(".form-hided .img-cat-field").clone();
	// newImageCatField = $(".img-cat-field").last().clone();
	lastCatField = $(".img-cat-field").last();
	imageCatName = newImageCatField.find(".image-cat-name");
	$( newImageCatField ).insertAfter( lastCatField );
	imageBoxField = newImageCatField.find(".image-box");
	// Minus det gemte felt i starten
	numOfFields = $(".img-cat-field").length - 2;
	change_img_cat_data(numOfFields, imageBoxField, imageCatName)
	// Fjerner "Tilføj billedekategori"-knappen, hvis der er 5 billedekategorier
	if (numOfFields == 4) {
		$("#CategoryAdd").hide();
		$("#max-categories").show();
	} 
});

// Add image
$('.new_work, .edit_work').on("click", ".add-new-image", function(e) {
  e.preventDefault();

  this_image_category = $(this).closest('.img-cat-field');
  // Dette gør sådan at man kan tilføje en billede boks
  lastNestedForm = $('.image-box', this_image_category).last();
  newNestedForm  = lastNestedForm.clone();
  // newNestedForm  = this_div;
  formsOnPage    = $('.image-box', this_image_category).length;
  change_input_data(newNestedForm, formsOnPage, lastNestedForm, true)
  // debugger;
});


</script>