<div class="form-group nested-fields col-md-3 billede-upload-box">
	<% unless f.object.image.file.nil? %>
		<%= image_tag f.object.image.thumb.url %>
	<% else %>
		<label class="btn btn-secondary billede-upload-felt">
			<%= f.file_field :image, class: "work-file-field" %>
		</label>
	<% end %>
	<%= f.label :image_description, "Billedbeskrivelse" %>
	<%= f.text_area :image_description, class: "form-control" %>
	<%= f.label :photographer, "Fotograf" %>
	<%= f.text_field :photographer, class: "form-control" %>

	<%= link_to_remove_association "Fjern billede", f, class: "btn btn-warning" %>

</div>