<%= javascript_include_tag "html.sortable", 'data-turbolinks-track' => true if logged_in?(:site_admin) %>
<%= javascript_include_tag "works", 'data-turbolinks-track' => true  if logged_in?(:site_admin) %>
<h2 class="work-headline"><%= @category.name %></h2>
<div class="row sortable works-wrapper">

<% unless @works.empty? %>
	<% @works.each do |work| %>
			<div class="col-md-4 col-lg-3 col-sm-6 col-xs-6 overview-work sortable-item" data-id="<%= work.id %>" data-type="<%= work.class.to_s %>">
		<%= link_to work_path(work) do %>
				<% unless work.images.empty? %>
					<div class="overview-img-block">
					<%= image_tag(work.overview_img, class: "overview-img") %>
					</div>
					<h2 class="overview-work-h2"><%= work.name %></h2>
				<% else %>
					<div class="overview-img-block text-center">
						<p class="h4 text-center no-images">Værket har ingen billeder <br>Læs mere </p>
					</div>
					<h2 class="overview-work-h2"><%= work.name %></h2>
				<% end %>
				

		<% end %>
			</div>
	<% end %>
<% else %>

<% end %><!-- @works.empty? -->
</div>


	
