<h2 class="text-center work-header"><%= @category.name %></h2>
<div class="row">
<% unless @works.empty? %>
	<% @works.each do |work| %>
			<div class="col-md-3 overview-work">
		<%= link_to work_path(work) do %>
				<% if !work.overview_img.file.nil? %>
					<%= image_tag(work.overview_img, class: "overview-img") %>
					<%= work.name %>
				<% elsif work.images.empty? %>
					<h2><%= work.name %></h2>
					<p class="alert alert-succes">Værket er uden billeder</p>
				<% else %>
					<h2><%= work.name %></h2>
					<p class="alert alert-succes">Værket er uden oversigtbillede</p>

				<% end %>

		<% end %>
			</div>
	<% end %>
<% else %>
<h3 class="alert alert-warning text-center">Der er ikke nogle værker under <u><%= @category.name %></u> endnu. Login og opret</h3>
<% end %><!-- @works.empty? -->
</div>


	