<%= javascript_include_tag "html.sortable", 'data-turbolinks-track' => true if logged_in?(:site_admin) %>
<%= javascript_include_tag "works", 'data-turbolinks-track' => true  if logged_in?(:site_admin) %>
<h2 class="work-headline"><%= @category.name %></h2>
<div class="row sortable works-wrapper">

<% unless @works.empty? %>
	<% @works.each do |work| %>
			<div class="overview-work sortable-item" data-id="<%= work.id %>" data-type="<%= work.class.to_s %>">
		<%= link_to work_path(work) do %>
				<% unless work.images.empty? %>
                                  <div class="overview-img-block" style="background-image: url(<%= work.overview_img %>)">
					<%# <%= image_tag(work.overview_img, class: "overview-img") %1> %>
					</div>
					<h2 class="overview-work-h2"><%= work.name %></h2>
				<% else %>
					<div class="overview-img-block work-without-image">
					</div>
					<h2 class="overview-work-h2"><%= work.name %></h2>
				<% end %>
				

		<% end %>
			</div>
	<% end %>
<% else %>

<% end %><!-- @works.empty? -->
</div>


	
