<h2 class="text-center work-header"><%= @category.name %></h2>
<div class="row">
<% unless @works.empty? %>
	<% @works.each do |work| %>
			<div class="col-md-3 overview-work">
		<%= link_to work_path(work) do %>
				<% if !work.overview_img.file.nil? %>
					<div class="overview-img-block">
					<%= image_tag(work.overview_img, class: "overview-img") %>
					</div>
					<h2 class="overview-work-h2"><%= work.name %></h2>
				<% elsif work.images.empty? %>
					<div class="without-overview-img">
						<span class="without-overview-text">
							Værket er uden billede
						</span>
					</div>
					<h2 class="overview-work-h2"><%= work.name %></h2>
				<% else %>
					<div class="without-overview-img">
						<span class="without-overview-text">
							Værket er uden oversigtsbillede
						</span>
					</div>
					<h2 class="overview-work-h2"><%= work.name %></h2>

				<% end %>

		<% end %>
			</div>
	<% end %>
<% else %>
<h3 class="alert alert-warning text-center">Der er ikke nogle værker under <u><%= @category.name %></u> endnu. Login og opret</h3>
<% end %><!-- @works.empty? -->
</div>


	