<% content_for :padding_top_container, "false" %>
<%= render partial: 'about/pagination',
	locals: { prev: { title: @prev_work.nil? ? '' : @prev_work.name, path: @prev_work.nil? ? '' : "work_path('#{@prev_work.slug}')"},
									 next_w: { title: @next_work.nil? ? '' : @next_work.name, path: @next_work.nil? ? '' : "work_path('#{@next_work.slug}')"} }  %>
					

<h1 class="text-center"><%= @work.name %></h1>
<%= logged_in_work_helper if user_signed_in? %>
<div class="row mt-4">
	<div class="offset-lg-2 col-lg-8">
		<p><%= @work.description %></p>
	</div>
	<% if @info && @info.any? %>
		<div class="offset-lg-2 col-lg-8">
      <ul class="info-short-list">
				<% @info.each do |i| %>
					<li><%= i %></li> 
				<% end %>
			</ul>
		</div>
	<% end %>
</div>

