<%= javascript_include_tag "html.sortable", 'data-turbolinks-track' => true if logged_in?(:site_admin) %>
<%= javascript_include_tag "work_images", 'data-turbolinks-track' => true if logged_in?(:site_admin) %>

<%= logged_in_work_helper if logged_in?(:site_admin) %>

<!-- LARGE IMAGE --> 
<h1 class="work-headline text-center"><%= @work.name %></h1>
<div class="large-image">
  <%= render partial: "large_image",
    locals: {
    url: @first_image.image.url,
    description: @first_image.image_description,
    photographer: @first_image.photographer
  } 
  %>
</div>
<div class="col-lg-12 hide-it info-field-work">
  <h2>Information</h2>
  <div class="info-kort">
    <%= content_tag :p, info_helper(@work).html_safe if info_helper @work %> 
  </div>
  <div class="info-beskrivelse">
    <%= simple_format(@work.description) if @work.description %>
  </div>
</div>

<div class="next-prev-back-wrapper row">
  <% unless @prev_work.nil? %>
    <%= link_to fa_icon("angle-left", text: " " + @prev_work.name), work_path(@prev_work.friendly_id), class: "col-lg-4 text-center" %>
  <% else %>
    <div class="col-lg-4"></div>
  <% end %>
  <%= link_to "Gå tilbage til #{@work.category.name}", vaerker_path(@work.category.friendly_id), class: "col-lg-4 text-center" %>
  <%= link_to fa_icon("angle-right", text: @next_work.name + " ", right: true), work_path(@next_work.friendly_id), class: "col-lg-4 text-center" unless @next_work.nil? %>

</div>
<!-- IMG CAT NAVBAR -->
<<<<<<< HEAD
  <div class="blog-nav sortable-images" data-navbar="img">
    <%= content_tag :span, "Info", class: "info-button", data: {btn: "info"} unless info_helper(@work).blank? && @work.description.blank? %>
    <%= render partial: "img_cat_nav", locals: {img_cats: @image_categories} %> 
  </div>

  <!-- THUMB IMAGES -->
  <div class="">
    <div class="thumb-images row sortable-images">
      <%= render partial: "thumb_images", locals: {images: @image_categories.first.images, work_id_friendly: @work.friendly_id, active_id: @image_categories.first.images.first.id} %>
    </div>
  </div>


  <script type="text/javascript">

    $(document).ready(function() {
      // Also used in works/js/new_image.js.erb and new_image_category- fade-in effect
      photo_desc = "<%=j render partial: "image_info", locals: {description: @first_image.image_description, photographer: @first_image.photographer} %>"

      function loadImage(image_url, photo_desc) {
        var img = new Image();
        $(img).load(function() {
          $(".image-desc-wrapper").html(img).append(photo_desc);
          $(img).fadeIn(300);
        }).attr({src: image_url, id: "largeImage"});
      }

      loadImage('<%= @first_image.image.url %>', photo_desc);


      <<<<<<< HEAD
      $(".img-nav-bar .nav-link").on("click", function() {
        =======
          $("[data-navbar='img'] .nav-link").on("click", function() {
            >>>>>>> dropdown-menu
            changeImageCat($(this));
          }); 

        $("body").on("click", ".thumb-image", function() {
          addActiveClass($(this), 'thumbnail-active');
          image_id = $(this).data("id");
          changeLargeImage(image_id);

        });

        <<<<<<< HEAD
        $(".info-button").on("click", function() {
          $(this).toggleClass("info-button-active");
          $(".info-field-work").slideToggle("fast");
          =======
            $("[data-btn='info']").on("click", function() {
              $(this).toggleClass("info-button-active");
              $(".info-field-work").slideToggle(400);
              >>>>>>> dropdown-menu
            });

          function addActiveClass(active_object, active_class) {
            active_object.addClass(active_class).siblings().removeClass(active_class);
          }

          function changeImageCat(cat, start_or_end) { 
            addActiveClass(cat, 'active-cat'); 
            changeCategory(cat.data("id"), start_or_end);
          }

          function changeLargeImage(image_id) {

            $.ajax({
              url: '/works/' + image_id + '/new_image',
              cache: false,
              type: 'GET',
              data: {id: image_id},
              beforeSend: function() {
                $(".image-info").hide();
                $("#largeImage").hide(); // To show loading icon
              }
            }); 			

          }
          function changeCategory(category_id, start_or_end) {
            $.ajax({
              url: '/works/' + category_id + '/new_image_category',
              cache: false,
              type: 'GET',
              data: {id: category_id, start_or_end: start_or_end},
              beforeSend: function() {
                $(".thumb-images").hide();
              }
            }); 				
          }

          function moveLeft() {
            new_image = $('.thumbnail-active').prev('.thumb-image');
            if ( new_image.length ) {
              addActiveClass(new_image, 'thumbnail-active');
              changeLargeImage(new_image.data("id")); 
            } else { // Ikke flere billeder
              prev_cat = $(".active-cat").prev(".nav-link");
              if ($(".nav-link").length == 1 ) { // kun én cat
                return
              } else if (prev_cat.length) { // Der er en før
                changeImageCat(prev_cat, "end");
              } else { // gå til sidste
                changeImageCat($(".nav-link").last(), "end");
              }
            }
          }

          function moveRight() {
            new_image = $('.thumbnail-active').next('.thumb-image');
            if ( new_image.length ) {
              addActiveClass(new_image, 'thumbnail-active');
              changeLargeImage(new_image.data("id"));
            } else {
              next_cat = $(".active-cat").next(".nav-link");
              if ($(".nav-link").length == 1 ) { // kun én cat
                return
              } else if (next_cat.length) { // Der er en efter
                changeImageCat(next_cat, "start");
              } else { // gå til først
                changeImageCat($(".img-nav-bar .nav-link").first(), "start");
              }
            } 
          }

          $("#leftArrow").on("click", function() {
            moveLeft();
          });

          $("#rightArrow").on("click", function() {
            moveRight();
          });

          $("body").keydown(function(e) {
            switch(e.which) {
              case 37: // venstre piletast
                moveLeft();
                break;

              case 39: // højre piletast
                moveRight();
                break;

              default: return; // exit this handler for other keys
            }
            e.preventDefault(); // prevent the default action (scroll / move caret)
          });			/* Act on the event */	
        });

  </script>
