<div class="row ">
	<% if logged_in?(:site_admin) %>
		<div class="col-lg-12">
			<%= link_to "Slet værket", work_path(@work), method: :delete, data: {confirm: "Er du sikker på, at du vil slette værket?"}, class: "btn btn-warning" %>
			<%= link_to "Rediger værk", edit_work_path(@work), class: "btn btn-secondary" %>
		</div>
	<% end %>
	<div class="col-lg-12">
	<h2 class="text-center"><%= @work.name %></h2>
	</div>

	<% @work.image_categories.each do |img_cat| %>	
			<div class="col-lg-3">
			 	<%= img_cat.name %>
			</div>
	<% end %>

	<div class="col-lg-12">
		<% @images.each do |img| %>
		<div class="col-lg-3">
			<%= image_tag img.image.thumb.url %>
		</div>
		<% end %>
	</div>
</div>
