<div class="row ">
	<%= logged_in_work_helper if logged_in?(:site_admin) %>

	<div class="col-lg-12">
		<h2 class="text-center"><%= @work.name %></h2>
	</div>
	<div class="vertical-center">
		<%= image_tag @first_image_url, id: "largeImage"%>	    
	</div>

	<%= render partial: "work_navbar", locals: {image_categories: @image_categories} %>

	<% @work.image_categories.each do |img_cat| %>
	<div class="row thumbnail-container <%= img_cat.name.parameterize %>" id="<%= img_cat.id %>">
		<% img_cat.images.each do |image_array| %>
		<div class="col-lg-3 thumbnaildiv">
			<%= image_tag(image_array.image.thumb.url, id: image_array.id, data: { largeimage: image_array.image.url }) %> <!-- URL for det store billede bliver gemt i largeimage -->
		</div>
		<% end %>
	</div> <!-- img_cat.name -->
	<% end %>
</div>

<script type="text/javascript">
	$(".thumbnaildiv img").click(function() {
		var thumbsrc = $(this).data("largeimage");
		$("#largeImage").attr("src", thumbsrc);
	});
</script>


