<%= form_for @video do |f| %>

  <p>Er det et link til en anden side eller en video, der skal vises på siden?</p>
  <div class="only-link-wrapper form-group">
    <div class="only-link ">
      <%= f.radio_button :only_link, false, checked: @video.only_link? ? 'unchecked' : 'checked', data: {class: "show-if-video"}, class: "only-link-radio" %><p>Video</p>
    </div>
    <div class="only-link ">
      <%= f.radio_button :only_link, true, checked: @video.only_link? ? 'checked' : 'unchecked' , data: {class: "show-if-link"}, class: "only-link-radio" %><p>Link</p>
    </div>
  </div>
  <hr>
  <div class="show-if-link hide-it form-group">
    <div class="form-group">
      <%= f.label :link_image, "Billede til link" %><br><small>Bliver lavet til 540x300px</small><br>
      <% unless @video.link_image.url.nil? %>
        <%= image_tag @video.link_image.thumb.url %><br>
        <small>Vælg nyt billede </small><br>
        <%= f.file_field :link_image %>
      <% else %>
        <small>Upload billede</small>
        <%= f.file_field :link_image %>
      <% end %>
    </div>
    <hr>
    <div class="link-text-field form-group">
      <%= f.label :link_anker, "Link anker" %><br><small>Det som linket skal ramme. (Hvad man trykker på, for at gå til videoen)</small><br>
      <%= f.text_field :link_anker, class: "form-control" %>
    </div>
    <div class="link-text-field form-group">
      <%= f.label :link, "Link" %><br><small>Indtastet linket til den hjemmeside, hvor videoen bliver vist.</small><br>
      <%= f.text_field :link, class: "form-control" %>
    </div>
  </div>
  <div class="show-if-video hide-it form-group">
    <div class="video-url">
      <%= f.label :video_url, "Url til Youtube videoen" %><br><small>Kan findes under en Youtube-video ved knappen "Del".</small><br>
      <%= f.text_field :video_url, class: "form-control" %>
    </div>
  </div>
  <hr>
  
  <div class="video-description form-group">
    <%= f.label :title, "Titel" %><small>* Skal udfyldes</small>
    <%= f.text_field :title, class: "form-control" %>
    <br>
    <%= f.label :description, "Beskrivelse" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <hr>
  <div class="form-group">
    <%= f.label :year, "Vælg år" %>
      <% if @video.year.nil? %>
        <%= f.select :year, (Date.today.year-70)..(Date.today.year), :selected => @video.year, :include_blank => '-intet-valgt-' %>
      <% else %>
        <%= f.select :year, (Date.today.year-70)..(Date.today.year), :selected => @video.year %>
      <% end %>
  </div>
  <hr>

  <%= f.submit "Gem video", class: "btn btn-primary"%>

<% end %>


  <script>
    $(document).ready(function() {
      $(".only-link-radio").each(function(rad_but) {
        if(this.checked) { $("." + $(this).data('class')).show(); }
      });
      $(".only-link-radio").click(function() {
        $(".show-if-link, .show-if-video").hide();
        $("." + $(this).data('class')).slideDown(400);
      });
    });
  </script>

