<%= render partial: 'about/pagination',
  locals: { prev: { title: 'Livet i tre huse', path: 'tre_huse_path()'},
            next_w: { title: 'Fakta', path: 'facts_path()'} } %><!-- passer ikke -->

<%= link_to "Opret ny video", new_video_path(), class: "btn btn-secondary" if user_signed_in? %>
<% if @videos.any? %>
<h2 class="py4 text-center">Videoer</h2>
  <div class="">
    <% @videos.each do |vid| %>
      <div class="videoes">
          <h2 class=""> <%= vid.title %> </h2>
          <div class="iframe-wrapper row">
            <% unless vid.only_link.blank? %>
              <%= image_tag vid.link_image.thumb.url, class: "col-md-6" unless vid.link_image.url.nil? %>
            <% else %>
            <iframe class="col-md-6"
                    src="<%= vid.video_url %>?rel=0&amp;showinfo=0"
                    frameborder="0"
                    allowfullscreen="allowfullscreen"
                    mozallowfullscreen="mozallowfullscreen" 
                    msallowfullscreen="msallowfullscreen" 
                    oallowfullscreen="oallowfullscreen" 
                    webkitallowfullscreen="webkitallowfullscreen"
                    >
            </iframe>
            <% end %>
            <div class="col-md-6 description">
              <%= simple_format vid.description if vid.description? %><br>
              <p><%= link_to "#{vid.link_anker} &#8594;".html_safe, vid.link, target: "_blank" unless vid.only_link.blank? || vid.link_anker.nil? %></p>
            </div>

          </div>
        <%= link_to "Rediger video / ", edit_video_path(vid.id), class: "" if user_signed_in? %>
        <%= link_to "Slet video", video_path(vid.id), method: :delete, class: "", data: {confirm: "Er du sikker på, at du vil slette videoen?"} if user_signed_in? %>
        <hr>
      </div><!-- video-show -->
    <% end %><!-- each -->
  <% end %><!-- any? -->
</div>
