<%= link_to "&#x2190;".html_safe + " Tilbage til videooversigt", videos_path() %>
<h2 class="text-center">Opret video</h2>
<%= form_for :video, url: videos_path do |f| %>

  <p>Er det et link til en anden side eller en video, der skal vises på siden?</p>
  <div class="only-link-wrapper form-group">
    <div class="only-link ">
      <%= f.radio_button :only_link, '0', checked: 'checked', data: {class: "show-if-video"}, class: "only-link-radio" %><p>Video</p>
    </div>
    <div class="only-link ">
      <%= f.radio_button :only_link, '1', checked: 'unchecked', data: {class: "show-if-link"}, class: "only-link-radio" %><p>Link</p>
    </div>
  </div>
  <hr>

  <div class="show-if-link hide-it form-group">
    <div class="link-text-field">
      <%= f.label "Link" %><br><small>Indtastet linket til den hjemmeside, hvor videoen bliver vist.</small><br>
      <%= f.text_field :link, class: "form-control" %>
    </div>
  </div>
  <div class="show-if-video hide-it form-group">
    <div class="video-url">
      <%= f.label :video_url, "Url til Youtube videoen" %><br><small>Kan findes under en Youtube-video ved knappen "Del".</small><br>
      <%= f.text_field :video_url, class: "form-control" %>
    </div>
  </div>
  <hr>
  
  <div class="video-description form-group">
    <%= f.label :title, "Titel" %><small>* Skal udfyldes</small>
    <%= f.text_field :title, class: "form-control" %>
    <br>
    <%= f.label :description, "Beskrivelse" %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <hr>

  <%= f.submit "Gem video", class: "btn btn-primary"%>

<% end %>


  <script>
    $(document).ready(function() {
      $(".only-link-radio").each(function(rad_but) {
        if(this.checked) { $("." + $(this).data('class')).show(); }
      });
      $(".only-link-radio").click(function() {
        $(".show-if-link, .show-if-video").hide();
        $("." + $(this).data('class')).slideDown(400);
      });
    });
  </script>

