	<div class="text-center">
    <% if @pdf.id? %>
      <%= link_to "Slet PDF", pdf_category_pdf_path(@pdf_category, @pdf),
        method: :delete, class: "d-inline mb-4 btn btn-danger",
        data: {confirm: "Er du sikker på, at du vil slette dette? Det kan IKKE laves om."} %>
    <% end %>
	</div>
<div class="row mt-4">
  <div class="offset-md-2 col-md-8">
    <%= form_for [@pdf_category, @pdf] do |f| %>
      <div class="form-group text-center">
        <label class="btn btn-secondary">
          Vælg kategori:
          <%= f.collection_select(:pdf_category_id, @categories, :id, :title) %>
        </label>
      </div>
      <hr>
      <%= image_tag @pdf.image.url if @pdf.image.url %>
      <div class="row"></div>
      <label class="btn btn-primary" style="cursor: pointer;">
        <% if @pdf.image.url %>
          Upload nyt billede
        <% else %>
          Upload billede til oversigten
        <% end %>
        <%= f.file_field :image, style: "display: none" %>
      </label>

      <div class="form-field text-center">
        <%= f.label :title, "Titel:" %>
        <%= f.text_field :title, style: "width: 100%" %>
      </div>
      <hr>
      <div class="form-field text-center">
        <%= f.label :date, "Vælg år" %>
        <% if @pdf.date.nil? %>
          <%= f.select :date, (Date.today.year-70)..(Date.today.year), :selected => @pdf.date, :include_blank => '-intet-valgt-' %>
        <% else %>
          <%= f.select :date, (Date.today.year-70)..(Date.today.year), :selected => @pdf.date.year %>
        <% end %>
      </div>

      <hr>
      <div class="form-field">
        <%= f.label :show_not, "Vis ikke" %><br>
        <%= f.check_box :show_not, {class: "form-control"}, "true", "false"  %>
      </div>

      <div class="form-field mt-4">
        <%= link_to "Tilbage", show_this_pdf_category_path(@pdf_category.id), class: "btn btn-secondary" %>
        <%= f.submit "Gem", class: "btn btn-primary" %>
      <% end %>
      </div>
  </div>
</div>
