<% content_for :title do %>
	<title><%= "Johannes' værker | #{@header_title}" %></title>
<% end %>
<div class="next-prev-back-wrapper row">
	<div class="col-md-4 nav-link">
		<span class="pagination-arrows prev-work"></span>
		<%= link_to @prev_pdf.title, pdf_category_pdf_path(@prev_pdf.pdf_category, @prev_pdf) unless @prev_pdf.nil? %>
	</div>
	<div class="col-md-4 nav-link text-center">
		<%= link_to @pdf_category.title, show_this_pdf_category_path(@pdf_category.friendly_id) %>
	</div>
	<div class="col-md-4 nav-link text-right ">
		<%= link_to @next_pdf.title, pdf_category_pdf_path(@next_pdf.pdf_category, @next_pdf) unless @next_pdf.nil? %>
		<span class="pagination-arrows next-work"></span>
	</div>
</div>

<iframe src="<%= @pdf_url %>" class="pdf-iframe" frameborder="0" scrolling="no" crossorigin="anonymous">
</iframe> 



