<div class="col-md-6 offset-md-3">
<%= form_for @johannes_writing do |f| %>
	<div class="form-field">
	<%= f.label :title %>
	<%= f.text_field :title, class: "form-control" %>
	</div>

	<%= f.file_field :pdf, class: "form-control" %> 


	<%= f.submit "Gem", class: "btn btn-primary" %>
<% end %>
</div>