<div class="container-fluid"><!-- have no .. -->
  <div class="row">
  <%= link_to vaerker_path('handtegninger'), class: "col-md-8 om-box" do %>
    <%= image_tag "handtegninger-ny", class: "image-responsive" %>
  <h2 class=" text-uppercase om-head handtegninger">
    Håndtegninger
  </h2>
  <% end %>
  
  <%= link_to artikler_path(), class: "col-md-4 om-box" do %>
    <%= image_tag "artikler-ny.jpg", class: "image-responsive" %>
    <h2 class=" text-uppercase om-head">
      Artikler
    </h2>
  <% end %>
  
  
  <% if @fact.nil? %>
    <p> <%= link_to "Opret 'Fakta om Inger og Johannes Exner'", new_fact_path() %> </p>
  <% else %>
    <%= link_to facts_path(), class: "col-md-4 om-box " do %>
      <%= image_tag "fakta-ny.jpg", class: "image-responsive" %>
      <h2 class=" text-uppercase om-head">
        <%= @fact.title %>
      </h2>
    <% end %>
  <% end %>
  
  <%= link_to vaerker_path('fotos'), class: "col-md-8 om-box fotos-box" do %>
    <%= image_tag "fotos.jpg", class: "image-responsive" %>
  <h2 class=" text-uppercase fotos om-head">
    Fotos
  </h2>
<% end %>
  


<%= link_to videos_path(), class: "col-md-8 om-box" do %>
  <%= image_tag 'videos', class: "image-responsive" %>
  <h2 class=" text-uppercase om-head">
    Videoer
  </h2>
<% end %>

<%= link_to tidslinje_path(), class: "col-md-4 om-box tidslinje-box" do %>

  <%= image_tag "tidslinje", class: "image-responsive" %>
  <h2 class=" text-uppercase tidslinje om-head">
    Tidslinje
  </h2>

<% end %>

<%= link_to vaerker_path("livet-i-tre-huse"), class: "col-md-12 mb-4 om-box tre-huse-box" do %>
  <%= image_tag 'tre-huse', class: "image-responsive" %>

  <h2 class=" text-uppercase tre-huse om-head">
    Livet i tre huse
  </h2>

<% end %>
  
  </div><!-- row -->
<%= link_to "Rediger fakta", edit_fact_path(@fact.id) if user_signed_in? %>
</div>

