	<%= form_for(category) do |f| %>
	<div class="row">
		<div class="form-group col-md-12">
			<hr>
				<%= image_tag category.image.url if category.image.url %>
				<div class="row"></div>
				<label class="btn btn-primary" style="cursor: pointer;">
				<% if category.image.url %>
					Upload nyt billede
				<% else %>
					Upload billede til oversigtsiden
				<% end %>
				<%= f.file_field :image, style: "display: none" %>
				</label>
        <hr>
        <%= f.label :name, "Titel på kategorien" %>
        <%= f.text_field :name, class: "form-control" %>
		</div>
		<%= f.submit submit_text, class: "btn btn-primary" %>
	</div>
	<% end %>
