<%= link_to "Opret værk", new_work_path %>
<div class="row category-page">
<h2 class="text-center"><%= @category.name %></h2>
<% if current_user %>
<% end %>
<% @works.each do |work| %>

	<%= link_to work_path(work) do %>
	<div class="work-category large-3 medium-4 small-5 small-offset-1 medium-offset-0 columns ">

	<% if work.images[0] %>
	<%= image_tag(work.images[0].image.thumb.url)%>
	<% end %>

	<h6 class="text-center"><%= work.name %></h6>
	</div>

	<% end %>

<% end %>

</div>
	