<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= "Hey!" %></title>
  <%= render 'application/favicon' %>
  <meta name="keywords" content="<%= @seo_keywords %>" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
      <%= alert_notice_helper %>
      <%= render partial: "admin/navbar" if logged_in?(:site_admin) %>
      <%= render partial: "shared/masthead" %>
      <hr>
      <div class="container devise-layout">
       <div class="col-md-4 offset-md-4">

      <%= yield %>
      </div>
      </div>

</body>
</html>
