<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= header_title_helper %></title>
    <%= render 'application/favicon' %>
    <meta name="keywords" content="<%= @seo_keywords %>" />
    <% if content_for? :head %>
      <%= yield :head  %>
    <% end %>
    <% if content_for? :custom_calls %>
      <%= yield :custom_calls %>
    <% end %>
    <%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="container">
      <%= alert_notice_helper %>
      <%= render partial: "admin/navbar" if logged_in?(:site_admin) %>
      <%= render partial: "shared/masthead" %>
      <%= render partial: "shared/navbar", locals: {categories: @categories} %>

      <div class="container-yield <%= 'container-p-top' unless content_for?(:padding_top_container) %>">
        <%= yield %>
      </div>
      <%= render partial: "shared/footer" %>

    </div>

  </body>
</html>
